{{!

    Renders:
      Credits

}}

<div class="sidebar-item sidebar-credits">
  <div class="nav">
    <a href="http://themeforest.net/item/caesar-a-clean-and-focused-theme/10378083?ref=mikedidthis" target="_blank" class="nav-item" title="Caesar by mikedidthis">Caesar by mikedidthis</a>
  </div>
</div>

