{{!

    Renders:
      Dribbble Title
      Dribbble Media
      Dribbble Likes Count
      Dribbble Likes URL

}}

<div class="sidebar-item sidebar-dribbble" data-js="dribbble">

  <div class="widget">

    <h5 class="widget-title sidebar-title">Dribbble Shots</h5>

    <div class="bricks widget-grid" data-js="data">

      <div class="bricks-item-outer">
        <div class="bricks-item widget-item">
          <div class="bricks-item-inner overlay">

            <img src="" title="" class="widget-img" data-js="widget-media">

            <div class="overlay-inner">
              <div class="meta widget-meta">

                <a href="" class="icon-ui icon-ui-like meta-item overlay-item" data-js="widget-like" target="_blank"></a>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

</div>
