{{!

    Renders:
      Title

    Microdata:
      Blog Name
      Blog URL

}}

<h1 itemprop="name" class="main-title">
  <a itemprop="url" href="{{@blog.url}}" title="{{@blog.title}}">{{@blog.title}}</a>
</h1>
