{{!

    Renders:
      Author

    Microdata:
      Author

}}


{{^is "page"}}

{{#author}}

<a href="{{url}}" class="meta-item meta-author"><span itemprop="author">{{name}}</span></a>

{{/author}}

{{/is}}
