{{!

    Renders:
      Anchor - Audio, Photo, Text, Video

}}

{{^is "post,page"}}

{{#if image}}
{{^has tag="_quote, _link, _chat, _audio, _video"}}
<p class="post-more">
  <a href="{{url}}" class="icon-ui icon-ui-next">Read More</a>
</p>
{{/has}}
{{/if}}

{{^if image}}
{{^has tag="_quote, _link, _chat, _audio, _video"}}
<p class="post-more">
  <a href="{{url}}" class="icon-ui icon-ui-next">Read More</a>
</p>
{{/has}}
{{/if}}

{{#has tag="_audio, _video"}}
<p class="post-more">
  <a href="{{url}}" class="icon-ui icon-ui-next">Read More</a>
</p>
{{/has}}

{{/is}}
