{{!

    Renders:
      Shares Count

}}

{{^is "page"}}

<a href="{{url}}" class="icon-ui icon-ui-share meta-item meta-shares-count" data-js="share-total"><span class="meta-count" data-js="share-total-count">0</span><span class="meta-plural" data-js="share-total-plural"> share</span></a>

{{/is}}
